@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-color);
}
